html, body, .wrapper {
  margin: 0;
  height: 100%;
  width: 100%; }

nav {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: rgba(30, 144, 255, 0); }
  nav .navbar-logo {
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block; }
    nav .navbar-logo h1 {
      margin: 0;
      color: black; }
  nav .user-lookup {
    display: inline;
    margin-top: 15px;
    margin-right: 15px;
    float: right; }
    nav .user-lookup #user-lookup {
      display: inline; }
      nav .user-lookup #user-lookup #user-search {
        border-radius: 10px; }
      nav .user-lookup #user-lookup #search {
        color: black; }
  nav .nav-links {
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 0; }
    nav .nav-links ul {
      display: inline-block;
      padding: 0; }
      nav .nav-links ul li {
        display: inline-block;
        margin-right: 10px;
        margin-top: 15px; }
        nav .nav-links ul li a {
          text-decoration: none;
          color: black; }
          nav .nav-links ul li a:hover {
            color: #3b3737; }
          nav .nav-links ul li a:visited {
            color: black; }

footer {
  position: static;
  bottom: 0;
  background-color: aliceblue;
  height: 50px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  footer ul {
    list-style: none;
    float: right;
    margin-right: 40px; }
    footer ul li a {
      text-decoration: none;
      color: black; }
      footer ul li a:hover {
        color: #535050; }
      footer ul li a:visited {
        color: black; }

.jumbo {
  height: 400px;
  background-image: url("../res/analytics.jpg");
  background-size: cover; }
  .jumbo .welcome {
    width: 100%;
    position: absolute;
    margin-top: 200px; }
    .jumbo .welcome h3 {
      margin: 0;
      text-align: center;
      color: black;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41); }

.about {
  min-height: 200px;
  background-color: #e6e6e6;
  padding-bottom: 20px; }
  .about .about-container {
    padding-top: 30px; }
    .about .about-container .col-md-4 i {
      font-size: 3em;
      margin-left: 50%;
      transform: translate(-50%, 0);
      margin-bottom: 20px; }
    .about .about-container .col-md-4 p {
      width: 90%;
      margin: 0 auto; }

#bolt {
  color: orange; }

#chart {
  color: dodgerblue; }

#users {
  color: #10bc10; }

.signup {
  height: 300px;
  background-color: white; }
  .signup .signup-form {
    float: right;
    margin-right: 200px;
    margin-top: 40px; }
    .signup .signup-form form input {
      height: 30px;
      width: 200px; }
    .signup .signup-form form button {
      margin-top: 5px;
      float: right;
      margin-left: 10px; }

.heading {
  width: 100%;
  height: 400px; }
  .heading #instruction {
    margin: 0; }

.pollCreation {
  background-color: aquamarine;
  padding: 20px; }
  .pollCreation form input {
    height: 30px;
    width: 150px; }
  .pollCreation form .addOption {
    border-radius: 50%;
    color: green;
    background-color: white;
    border: 1px solid green; }
  .pollCreation form .poll-btn {
    float: right; }

.sup {
  position: absolute;
  background-color: #202529;
  border-bottom: 1px solid rgba(196, 196, 196, 0.3); }
  .sup .navbar-logo h1 {
    color: #9f9f9f; }
  .sup .nav-links a {
    color: #9f9f9f; }
    .sup .nav-links a:visited {
      color: #9f9f9f; }
    .sup .nav-links a:hover {
      color: #e8e8e8; }

.signup-body {
  padding-top: 50px;
  height: 100%;
  text-align: center;
  background-color: #212a2e; }
  .signup-body .signup-header {
    background-color: #212a2e;
    padding-top: 50px;
    color: #9f9a9a;
    padding-bottom: 30px; }
  .signup-body .signup-form {
    background-color: #212a2e; }

/*# sourceMappingURL=main.css.map */
