// layout/footer.scss

footer {
    position: static;
    bottom: 0;
    background-color: aliceblue;
    height: 50px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    ul {
        list-style: none;
        float: right;
        margin-right: 40px;
        li {
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: #535050;
                }
                &:visited {
                    color: black;
                }
            }
        }
    }
}